<html>
{{#each foo}}
{{this}}
{{/each}}

<div id="content" class= "characters">

  <div class="outer">
    <h1>Characters</h1>
  </div>

  <!-- Search bar -->
  <div class="outer">
    <form id='search_characters' action='' method=''>
      <!--- this form does not submit directly, the button handles all the interaction with backend -->
      <label> Search characters for first name starting with:</label>
      <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
      <input type="button" value="Search" onclick="searchCharactersByFirstName()">
    </form>
  </div>


  <!-- Filter functionality -->
  <div class="outer">
    <form id='filter_characters' action='' method=''>
      <!--- this form does not submit directly, the button handles all the interaction with backend -->
      <label> Filter by homeland </label>
      <select id='homeland_filter' name="homeland">
          {{#each locations}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <input type="button" value="Filter" onclick="filterPeopleByHomeland()">
      </form>
    </div>

    <!-- Display all characters in database -->
    <div class="outer">
      <table>
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Life Status</th>
          <th>Homeland</th>
          <th>Current Location</th>
        </thead>

        <tbody>
          {{#each characters}}
            <tr>
              <td>{{fname}}</td>
              <td>{{lname}}</td>
              <td>{{life_status}}</td>
              <td>{{homeland}}</td>
              <td>{{current_location}}</td>
              <td><button onclick="deleteCharacters({{id}})">Delete</button></td>
              <td><a href="/characters/{{id}}">Update</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>


      <!-- Form to add new character -->
      <div class="outer">
        <h3>Add a New Character:</h3>
        <form id="addcharacters" action="/characters" method="post">
          First name: <input type="text" name="fname" required><br>
          Last name: <input type="text" name="lname"><br>
          Life status: <select name="life_status">
            {{#each status}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select><br>
          Homeland: <select name="homeland">
            <option value='null'>  </option>
            {{#each locations}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select><br>
          Current Location: <select name="current_location">
            <option value='null'>  </option>
            {{#each locations}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select><br>
          <input type="submit" value="Submit">
        </form>
        <br/>
      </div>
</div>

</html>
