<html>
{{#each foo}}
{{this}}
{{/each}}


<div id="content" class="house_locations">


    <div class="outer">
        <h1>Great Houses and Their Locations</h1>
    </div>

    <div class="outer">
        <table>
            <thead>
            <th>House</th>
            <th>Location</th>
            <th>Location Type</th>
            </thead>
            <tbody>
        {{#each house_with_locations}}
            <tr>
                <td>{{this.house_name}}</td>
                <td>{{this.loc_name}}</td>
                <td>{{this.loc_type}}</td>
            </tr>
        {{else}}
        <b> No characters found with houses. Add some. </b>
        {{/each}}

            </tbody>
        </table>
    </div>

    <div class="outer">
        <h3> Associate a House with a location </h3>
        </br>
        <form id="house_with_locations" action="/house_locations" method="post">
            House: <select name='house_id' required>
              <option disabled selected value> -- select a House -- </option>
                {{#each houses}}
                <option value='{{house_id}}'>{{house_name}}</option>
                {{/each}}
            </select>
        <br>
            Locations: <select multiple name="spots">
              {{#each manyplaces}}
             <option value="{{loc_id}}">{{loc_name}}</option>
             {{/each}}
            </select><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</html>
