<html>
<div id ="content" class="houses">

  <div class="outer">
    <h1>Update House {{houses.name}}</h1>
  </div>

  <div class="outer">
    <form id="update-house" name="update-house" action="/houses" method="post">
      House name: <input type="text" name="name" value="{{houses.name}}"><br>
      Sigil: <input type="text" name="sigil" value="{{houses.sigil}}"><br>

      Homeland: <select name="base" id="city-selector">
          {{#each locations}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select><br>
    </form>
    <button onclick="updateHouse({{houses.id}})">Update</button>
    <script defer>selectCity({{houses.base}});</script>
  </div>
<div>
</html>
